<!-- <a href="/studentregister"><button>STUDENT REGISTER</button></a>
<a href="/teacherregister"><button>TEACHER REGISTER</button></a>
<a href="/studentlogin"><button>STUDENT LOGIN</button></a>
<a href="/teacherlogin"><button>TEACHER LOGIN</button></a> -->
<!doctype html>
<html lang="en">
  <head>
    <title>Eduzation Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Homepage.css">
    <link rel="image" href="/img/edulogo.png">
    <link rel="stylesheet" href="/img/Group 38.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md nav1">
        <div class="container">
          <a href="/">
            <img src="/img/edulogo.png" alt="Logo" class="navbar-brand image" href="#">
          </a>
          <form class="d-flex my-2 my-lg-0">
          <section class="vertical-line">
          </section>
            <div class="me-sm-2">
              <a href="/teacherregister" class="signup">Sign up</a>
            <button class= "my-2 my-sm-0 login" href="/teacherlogin">Log in</button>
          </div>
          </form>
        </div>
      </div>
    </nav>

  <div class="d-flex">
    <div class="text">
        <h1 class="txt1 container">EDUZATION</h3>
        <p class="txt2 container">Connect with friends and <br> Improve your grades</p>
        <p class="txt3 container">Eduzation is the best way to connect with your friends and <br> Improve your academic performance</p>
        <a href="/studentregister">
          <button class="btn1">
            Improve your grades
          </button>
        </a>
      </div>
      <div>
        <img src="/img/Group 38.png" alt="" width="816px" height="816px" style="margin-top: -150px;">
      </div>
  </div>

   
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>