<!-- <form
  action="/studenthome/studentassignment"
  method="post"
  enctype="multipart/form-data"
>
  <input type="text" name="course" id="" />
  <input type="text" name="title" id="" />
  <input type="file" name="file" id="" />
  <input type="submit" value="Submit" />
</form>
<br> <br>
<form action="/studenthome/studentranking" method="post">
  <input type="text" name="name" id="">
  <input type="text" name="cgpa" id="">
  <input type="text" name="department" id="">
  <input type="submit" value="Submit">
</form> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tochukwu.css">
    <link rel="stylesheet" href="Circular Std Font.otf">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="logo">
            <img src="/img/edulogo (1).png" alt="" class="alogo">
        </div>
        <div class="amain">
            <a class="logt" href="/logout">Log out</a>
            <button class="edi"><a class="edit" href="code">QR CODE</a></button>
            <p class="circle"></p>
            <h4 class="cgp">CGPA</h4>
            <h4 class="cgpn">3.4</h4>
            <h4 class="mat">MATRIC NO</h4>
            <h4 class="matn">CLU200237-637</h4>
            <h4 class="lev">Level:</h4>
            <h4 class="levn">300</h4>
            <h4 class="sem">SEMESTER:</h4>
            <h4 class="semn">01</h4>
            <h1 class="intext">J</h1>
            <h2 class="jb">Joshua Bassey</h2>
            <h4 class="or"><a style="color: grey; text-decoration:none;" href="studenthome-timetable">Timetable</a></h4>
            <img class="timetable" src="/img/timetable.png" alt="" style=" position: absolute; height: 1200px; top: 700px; left: 450px" >
            <h4 class="tu"><a style="color: grey; text-decoration:none;" href="/studenthome-assessment">Assessment</a></h4>
            <h4 class="rw"><a a style="color: grey; text-decoration:none;" href="/studenthome-ranking"></a>Ranking</h4>
        </div>
    </div>
</body>
