<form
  action="/teacherhome/teacherassignment"
  method="post"
  enctype="multipart/form-data"
>
  <input type="text" name="course" id="" />
  <input type="text" name="title" id="" />
  <input type="file" name="file" id="" />
  <input type="submit" value="Submit" />
</form>
<br />
<br />
<form action="/teacherhome/teacherranking" method="post">
  <input type="text" name="name" id="" />
  <input type="text" name="cgpa" id="" />
  <input type="text" name="department" id="" />
  <input type="submit" value="Submit" />
</form>
